# Exclude everything
/*

# Except for default project files
!/.github
!/.vscode
/.vscode/settings.json
!/build-aux
!/cmake
!/data
!/docs
!/src
!/tests
!/unsupported
!/vcpkg-overlay-ports
!/vcpkg-triplets
!.aiexclude
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!GEMINI.md
!LICENSE
!README.md
!vcpkg-configuration.json
!vcpkg.json

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
